.profile__edit {
  display: flex;
  margin: 22px 0 0;
  padding: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: black;
  background-image: url(../../../images/Edit_Button.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  align-self: center;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (min-width: 608px) {
  .profile__edit {
    margin: 0;
  }
}

@media screen and (min-width: 900px ) {
  .profile__edit {
    box-sizing: content-box;
    right: -48px;
    width: 24px;
    height: 24px;
  }
}