.like {
  position: absolute;
  right: 20px;
  bottom: 30px;
  background-image: url(../../images/like_disabled.svg);
  background-color: inherit;
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: none;
}

.like:hover {
  opacity: 0.6;
}

.like_active {
  background-image: url(../../images/like_active.svg);
}